body{
    font-family: 'Literata', serif;
   
}
 
.card__container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}
.card__structure{
display:flex;
flex-direction: column;
width: 30%;
margin-top: 50px;
margin-bottom: 30px;
align-items: center;
border :solid black 3px;
}
.card__avatar{
    border-radius: 100%;
    width: 130px;
    height: 130px;
    border: solid black 1px;
}
.card__bio{
    font-size: 16px;
    font-weight: 300;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 300;
    color: gray;
}
.card__name{
    color: black;
    font-size: 22px;
    font-weight: 700;
}
.card__age{
font-size: 15px;
color: brown;
}